---
import LayoutVarios from "../layouts/LayoutVarios.astro";


const breadcrumbs = {
    title : '',
    titleCarrera : 'Homologaciones',
    menuAtras : 'Index',   
    urlAtras : '/',   
    servicio : 'Oferta Académica',  
    nombreBoton : '',
    urlInscribete : '#',
    img : '/images/breadcrumbs/oferta_academica.jpg',        
    descargarInformacvion : '',  
}


---


<LayoutVarios {breadcrumbs}>
    <div class="contenedor">
        <h3>Proceso de Homologación</h3>
        <div class="container-fluid">
            <div class="row align-items center">
                <div class="col-md-6 col-sm-12 pt-4">
                    <div class="text-justify">
                        <p>
                            La ULVR te invita a formar parte de su comunidad educativa. Sabemos que estás interesado en estudiar con nosotros, por lo que te compartimos la información que debes conocer para iniciar tu vida universitaria en la ULVR: <br /><br />
                            <div class="text-justify">
                                <p>	<b>1.-</b> Llenar la solicitud de Homologación (modelo de solicitud No. 25). www.ulvr.edu.ec/universidad/transparencia/aranceles y matriculas </b><a href="documentos/Solicitudes/file_1676294949 (2).docx" target="_blank"> (Modelo de solicitud)</a><br />
                                    <b>2.-</b> Realizar el pago de veinte dólares en la cuenta corriente del banco guayaquil #00-320-12442 O en las ventanillas de Recaudación de la ULVR.<br />
                                    <b>3.-</b> Digitalizados de forma legible, al correo consultas_secretariageneral@ulvr.edu.ec con asunto: Homologación,<br />
                                    Apellidos/Nombres:</a>.
                                    <br /><br />
                                                                        
                                    <b>a.-</b>	Título de Bachiller (para aquellos títulos que no consten en la plataforma del Ministerio de Educación).<br />
                                    <b>b.-</b>	Certificado de la primera matrícula de la universidad de donde provienes (fecha con formato, día, mes y año).<br />
                                    <b>c.-</b>	Certificación de no haber sido sancionado por la universidad de procedencia.<br />
                                    <b>d.-</b>  Malla curricular cursada, certificado de asignaturas aprobadas, y los Syllabus con sus respectivos sellos y firmas de la universidad de procedencia.<br />
                                    <b>e.-</b>	Cédula.<br />
                                    <b>f.-</b>	Partida de nacimiento.</b><br /><br />

                                    Además, si deseas que se analice tu experiencia laboral mínima de 4 años en el campo de conocimiento de la carrera, debes adjuntar la siguiente documentación de acuerdo a tu caso:<br /><br />
                                    Si es de relación de dependencia:<br /><br />
                                    <b>*</b> Aviso(s) de entrada al IESS.<br />
                                    <b>*</b> Historia Laboral descargada del IESS.<br />
                                    <b>*</b> Certificado de Trabajo (debe incluir: datos de las actividades generales de la empresa, funciones desempeñadas, correo electrónico del firmante, número de teléfono convencional, celulares, firma de responsabilidad).<br /><br />

                                    Si es de relación independiente:<br /><br />
                                    <b>*</b> RUC con la actividad principal relacionada con el perfil de la carrera.<br />
                                    <b>*</b> Declaraciones de Impuesto a la Renta de los últimos 4 años.<br />
                                    <b>*</b> Declaraciones de IVA por lo menos de los últimos 2 años.<br /><br />

                                    La Secretaría General te informará prontamente sobre el resultado de tu petición, y te citará para que acudas a la ULVR a entregar los documentos mencionados, de ser necesario.<br /><br />
                                    Finalmente debes estar atento a la comunicación que recibirás de la Secretaría General.<br /><br />
                                    <b>*</b> Si tienes alguna duda o inquietud, debes comunicarte al correo bienestaruniversitario@ulvr.edu.ec<br />
                                    <b>*</b> Puedes solicitar la Homologación a la ULVR en cualquier momento, sin embargo, una vez autorizado únicamente estarás habilitado para matricularte en el periodo académico correspondiente.

                                </p>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 align-self-center">
                    <img src="/images/about/BANNER_HOMOLOGACIONok.jpg" alt="" class="img-fluid img-thumbnail w-100">
                </div>
            </div>
        </div>
    </div>	
</LayoutVarios>