<div id="rs-about" class="rs-about style2 pt-94 pb-100 md-pt-64 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pr-65 md-pr-15 md-mb-50">
                <div class="about-intro">
                    <div class="sec-title mb-40 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                        <!--<div class="sub-title primary">¿Por qué estudiar</div>-->
                        <h2 class="title mb-21 white-color">¿Por qué estudiar en la ULVR?</h2>
                        <div class="desc big white-color">
                            La ULVR es la primera universidad laica fundada en Ecuador (1966) por el Dr. Alfonso Aguilar Ruilova, pionera en brindar una educación superior orientada por los principios del laicismo y sustentada por los valores laicos: humanismo, excelencia, ética y compromiso; con una metodología de enseñanza integral y actualizada que favorece el desarrollo de sus estudiantes a quienes se les brinda una formación académica de excelencia.
                        </div>
                    </div>
                    <div class="btn-part wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                        <a class="readon2" href="/admisiones" target="_blank" >Inscríbete</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 lg-pl-0 ml--25 md-ml-0">
                <div class="row grid-area">
                    <div class="col-md-12 sm-mb-75">
                        <div class="image-grid">
                            <img src="images/about/TEST-VOCACIONAL.jpg" alt="" />
                        </div>
                        <br />
                        <h6 class="title">
                            ¿No sabes qué estudiar? Descubre tu carrera ideal con este test de orientación vocacional que te permitirá conocer la profesión más adecuada para ti.
                        </h6>
                        <br />
                                                                                        
                        <div class="col-lg-6 md-pb-50">								
                            <div class="btn-part wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                                <a class="readon2" target="_blank" href="/testVocacional">Descubre tu vocación aquí</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>