<div id="rs-blog" class="rs-blog style2 pt-94 pb-100 md-pt-64 md-pb-70">
    <div class="container">
        <div class="sec-title mb-60 text-center">
            <div class="sub-title primary">Lo más Reciente</div>
            <a href="noticias.html">
                <h2 class="title mb-0">Noticias ULVR</h2>
            </a>
        </div>
        <div
            class="rs-carousel owl-carousel"
            data-loop="true"
            data-items="3"
            data-margin="30"
            data-autoplay="true"
            data-hoverpause="true"
            data-autoplay-timeout="5000"
            data-smart-speed="800"
            data-dots="false"
            data-nav="false"
            data-nav-speed="false"
            data-center-mode="false"
            data-mobile-device="1"
            data-mobile-device-nav="false"
            data-mobile-device-dots="false"
            data-ipad-device="2"
            data-ipad-device-nav="false"
            data-ipad-device-dots="false"
            data-ipad-device2="1"
            data-ipad-device-nav2="false"
            data-ipad-device-dots2="false"
            data-md-device="3"
            data-md-device-nav="false"
            data-md-device-dots="false"
        >
            <div class="blog-item">
                <div class="image-part">
                    <img src="images/blog/noticias/firma-de-convenio.jpg" alt="" />
                </div>
                <div class="blog-content new-style">
                    <ul class="blog-meta">
                        <li><i class="fa fa-user-o"></i> Admin</li>
                        <li><i class="fa fa-calendar"></i>Febrero 22, 2023</li>
                    </ul>
                    <h3 class="title">
                        <a href="noticias-firma convenio comercio.html"
                            >ULVR firma convenio con Cámara de Comercio de Samborondón </a
                        >
                    </h3>
                    <div class="desc">
                        La Universidad Laica VICENTE ROCAFUERTE de Guayaquil recibió la visita de representantes de la Cámara de Comercio de Samborondón, encabezados por su presidente emérito, CPA Omar Zambrano Cedeño, para la firma de un convenio marco de cooperación interinstitucional
                    </div>
                    <ul class="blog-bottom">
                        <li class="cmnt-part"><a href="#">(12) Comentarios</a></li>
                        <li class="btn-part">
                            <a class="readon-arrow" href="noticias-firmaniacopol.html">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="images/blog/noticias/n1.jpg" alt="" />
                </div>
                <div class="blog-content new-style">
                    <ul class="blog-meta">
                        <li><i class="fa fa-user-o"></i> Admin</li>
                        <li><i class="fa fa-calendar"></i>Febrero 16, 2023</li>
                    </ul>
                    <h3 class="title">
                        <a href="noticias-proyecinterna.html">ULVR: Presentación de proyectos de investigación de estudiantes de la FADM</a>
                    </h3>
                    <div class="desc">
                        El pasado 9 de febrero, en la Universidad Laica VICENTE ROCAFUERTE de Guayaquil (ULVR) se realizó la presentación exitosa de 9 proyectos de investigación desarrollados por los estudiantes de la Facultad de Administración (FADM)
                    </div>
                    <ul class="blog-bottom">
                        <li class="cmnt-part"><a href="#">(12) Comentarios</a></li>
                        <li class="btn-part">
                            <a class="readon-arrow" href="noticias-proyecinterna.html">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="images/blog/noticias/o1.jpg" alt="" />
                </div>
                <div class="blog-content new-style">
                    <ul class="blog-meta">
                        <li><i class="fa fa-user-o"></i> Admin</li>
                        <li><i class="fa fa-calendar"></i>Febrero 10, 2023</li>
                    </ul>
                    <h3 class="title">
                        <a href="noticias-proyectos invg.html"
                            >ULVR: Estudiantes de la FEDU presentaron sus proyectos investigativos PIFIS</a
                        >
                    </h3>
                    <div class="desc">
                        En la plataforma Meet® se dieron cita este viernes 10 de febrero de 2023 estudiantes, docentes y autoridades de la Universidad Laica VICENTE ROCAFUERTE de Guayaquil (ULVR) para escuchar la exposición de los Proyectos Investigativos Formativos Integradores de Saberes (PIFIS) desarrollados por alumnos de la Facultad de Educación (FEDU).
                    </div>
                    <ul class="blog-bottom">
                        <li class="cmnt-part"><a href="#">(12) Comentarios</a></li>
                        <li class="btn-part">
                            <a class="readon-arrow" href="noticias-docentevuelta.html">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="images/blog/noticias/N-Masterclass1.jpg" alt="" />
                </div>
                <div class="blog-content new-style">
                    <ul class="blog-meta">
                        <li><i class="fa fa-user-o"></i> Admin</li>
                        <li><i class="fa fa-calendar"></i>June 10, 2022</li>
                    </ul>
                    <h3 class="title">
                        <a href="noticias-masterclass.html"
                            >Master class Sobre Liderazgo</a
                        >
                    </h3>
                    <div class="desc">
                        Se inauguró un ciclo de charlas sobre liderazgo y comunicación. En esta oportunidad fue el periodista Andrés Jungbluth quien se dirigió a los estudiantes
                    </div>
                    <ul class="blog-bottom">
                        <li class="cmnt-part"><a href="#">(12) Comments</a></li>
                        <li class="btn-part">
                            <a class="readon-arrow" href="noticias-masterclass.html">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="images/blog/noticias/N-Masterclass1.jpg" alt="" />
                </div>
                <div class="blog-content new-style">
                    <ul class="blog-meta">
                        <li><i class="fa fa-user-o"></i> Admin</li>
                        <li><i class="fa fa-calendar"></i>June 10, 2022</li>
                    </ul>
                    <h3 class="title">
                        <a href="noticias-masterclass.html"
                            >Master class Sobre Liderazgo</a
                        >
                    </h3>
                    <div class="desc">
                        Se inauguró un ciclo de charlas sobre liderazgo y comunicación. En esta oportunidad fue el periodista Andrés Jungbluth quien se dirigió a los estudiantes
                    </div>
                    <ul class="blog-bottom">
                        <li class="cmnt-part"><a href="#">(12) Comments</a></li>
                        <li class="btn-part">
                            <a class="readon-arrow" href="noticias-masterclass.html">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="images/blog/noticias/N-FRIMANAICOPOL.JPG" alt="" />
                </div>
                <div class="blog-content new-style">
                    <ul class="blog-meta">
                        <li><i class="fa fa-user-o"></i> Admin</li>
                        <li><i class="fa fa-calendar"></i>Mayo 20, 2022</li>
                    </ul>
                    <h3 class="title">
                        <a href="noticias-firmaniacopol.html"
                            >Firma Convenios Interinstitucionales</a
                        >
                    </h3>
                    <div class="desc">
                        Se suscribió convenios de cooperación interinstitucional para el desarrollo de actividades académicas, culturales y científicas
                    </div>
                    <ul class="blog-bottom">
                        <li class="cmnt-part"><a href="#">(12) Comentarios</a></li>
                        <li class="btn-part">
                            <a class="readon-arrow" href="noticias-firmaniacopol.html">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="images/blog/noticias/N-PROYECINTERNACIONAL.JPG" alt="" />
                </div>
                <div class="blog-content new-style">
                    <ul class="blog-meta">
                        <li><i class="fa fa-user-o"></i> Admin</li>
                        <li><i class="fa fa-calendar"></i>Mayo 06, 2022</li>
                    </ul>
                    <h3 class="title">
                        <a href="noticias-proyecinterna.html">ULVR se proyecta Internacionalmente</a>
                    </h3>
                    <div class="desc">
                        La ULVR fortalece su plan de internacionalización en temas de movilidad estudiantil y docente, proyectos de investigación y posgrado
                    </div>
                    <ul class="blog-bottom">
                        <li class="cmnt-part"><a href="#">(12) Comentarios</a></li>
                        <li class="btn-part">
                            <a class="readon-arrow" href="noticias-proyecinterna.html">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="images/blog/noticias/N-DOCENTESVUELTA2.jpg" alt="" />
                </div>
                <div class="blog-content new-style">
                    <ul class="blog-meta">
                        <li><i class="fa fa-user-o"></i> Admin</li>
                        <li><i class="fa fa-calendar"></i>Marzo 21, 2022</li>
                    </ul>
                    <h3 class="title">
                        <a href="noticias-docentevuelta.html"
                            >¡Nuestros docentes ya están de vuelta!</a
                        >
                    </h3>
                    <div class="desc">
                        La planta docente de la ULVR reingresó a la institución en un evento de bienvenida y socialización de las nuevas directrices
                    </div>
                    <ul class="blog-bottom">
                        <li class="cmnt-part"><a href="#">(12) Comentarios</a></li>
                        <li class="btn-part">
                            <a class="readon-arrow" href="noticias-docentevuelta.html">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>						
        </div>
    </div>
</div>