<div class="rs-cta style2 mx-3">
    <div class="partition-bg-wrap home2">
        <div class="container">
            <div class="row y-bottom video-container">
                <div class="col-lg-6 pb-50 md-pt-100 md-pb-100">
                    <div class="video-wrap">
                        <a class="popup-videos"
                            href="https://www.youtube.com/watch?v=Mtt4iB4cXz8" target="_blank">
                            <i class="fa fa-play"></i>
                            <h4 class="title mb-0">Ver Video Institucional</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 pl-62 pt-134 pb-150 md-pl-15 md-pt-45 md-pb-50">
                    <div class="btn-part wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                        <a class="readon2" href="posgradoAdmisiones">Pre-registro</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>