<div class="rs-latest-events style1 bg-wrap pt-100 md-pt-70 md-pb-70 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-65 pt-24 md-pt-0 md-pr-15 md-mb-30">
                <div class="sec-title mb-42">
                    <h2 class="title mb-0">Calendario ULVR</h2>
                </div>
                <div class="single-img wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                    <img src="images/event/home12/calendario-ulvr.jpg" alt="Event Image" />
                </div>
            </div>
            <div class="col-lg-6 lg-pl-0">
                <div class="event-wrap">
                    <div class="events-short mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                        <div class="date-part bgc1">
                            <span class="month">Marzo</span>
                            <div class="date">1-10</div>
                        </div>
                        <div class="content-part">
                            <div class="categorie">Horario Normal</div>
                            <h5 class="title mb-0">
                                <a href="#">Inscripciones al Curso Intensivo B-2022 en plataforma académica</a>
                            </h5>
                        </div>
                    </div>
                    <div class="events-short mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                        <div class="date-part bgc1">
                            <span class="month">Marzo</span>
                            <div class="date">1-30</div>
                        </div>
                        <div class="content-part">
                            <div class="categorie">Horario Normal</div>
                            <h5 class="title mb-0">
                                <a href="#">Periodo de matriculación A-2023</a>
                            </h5>
                        </div>
                    </div>
                    <div class="events-short mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                        <div class="date-part bgc1">
                            <span class="month">Marzo</span>
                            <div class="date">27-31</div>
                        </div>
                        <div class="content-part">
                            <div class="categorie">Horario Normal</div>
                            <h5 class="title mb-0">
                                <a href="#">Clases intensivas en horarios programados</a>
                            </h5>
                        </div>
                    </div>
                    <div class="btn-part mt-55 md-mt-25 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="2000ms">
                        <a href="documentos/calendarios/Calendario Academico.pdf" target="_blank" target="_blank">Ver Calendario</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>