<div class="rs-faq-part style1 orange-color pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 padding-0 align-self-center">
                <div class=" main-part">
                    <div class="title mb-40 md-mb-15">
                        <h2 class="text-part">Preguntas Frecuentes</h2>
                    </div>
                    <div class="faq-content">
                        <div class="accordion" id="accordionExample">
                            
                            <!-- Slot de preguntas -->
                            <div class="accordion-item card">
                                <div class="accordion-header card-header" id="headingOne1">
                                    <button class="accordion-button card-link" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne1"
                                        aria-expanded="true" aria-controls="collapseOne1">¿Cuáles son los requisitos para postularme?
                                    </button>
                                </div>
                                <div id="collapseOne1" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne1" data-bs-parent="#accordionExample">
                                    <div class="accordion-body card-body">
                                        Realizar el registro en línea en la sección <a href="https://ekudemic.ulvr.edu.ec/ekudemic/web/pre_registro.php/aspirante_pre_registro/ingresoAspirante" target="_blank"><b>INSCRÍBETE</b></a><br>
                                        Los documentos que necesitas tener a la mano son:<br>
                                        - Cédula de Identidad.<br>
                                        - Partida de Nacimiento.<br> 
                                        - Título de Bachiller. (Consulta tu título <a href="https://servicios.educacion.gob.ec/titulacion25-web/faces/paginas/consulta-titulos-refrendados.xhtml" target="_blank"><b>AQUÍ</b></a>)<br>
                                        Estos documentos deben ser enviados <a href="https://ekudemic.ulvr.edu.ec/ekudemic/web/pre_registro.php/aspirante_pre_registro/imprimirRegistro" target="_blank"><b>AQUÍ</b></a><br>
                                    </div>
                                </div>
                            </div>
                                <!-- Slot de preguntas -->
                            <div class="accordion-item card">
                                <div class="accordion-header card-header" id="headingTwo2">
                                    <button class="card-link accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo2"
                                        aria-expanded="false" aria-controls="collapseTwo2">¿Dónde puedo recibir información de la oferta académica?</button>
                                </div>
                                <div id="collapseTwo2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo2" data-bs-parent="#accordionExample">
                                    <div class="accordion-body card-body">
                                        <b>1 -</b> Puede acercarse al campus universitario en <b>Av. de Las Américas, frente al Cuartel Modelo de Guayaquil.</b><br>
                                        <b>2 -</b> Enviar un email a <a href="mailto:admisiones@ulvr.edu.ec" target="_blank"><b>admisiones@ulvr.edu.ec</b></a><br>
                                        <b>3 -</b> Llamar a la Unidad de Admisión (04) 259 6500
                                        extensiones: 142,143 y 144.<br>
                                        <b>4 -</b> Ingresando a <a href="grado.html" target="_blank"><b>Oferta Académica ULVR</b></a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-column col-lg-6 align-self-center">
                <div class="inner-column">
                    <!-- Video Box -->
                    <div class="intro-video media-icon orange-color1">
                        <img class="video-img" src="images/about/FDEvideo-min.png" alt="Video Image">
                        <a class="popup-videos" href="https://www.youtube.com/watch?v=VPX_aOmotWo">
                            <i class="fa fa-play"></i>
                        </a>
                        <!--<h4 class="text-center pt-4 pb-2">Testimonios</h4>-->
                    </div>
                    <!-- End Video Box -->
                </div>
            </div>
        </div>
    </div>
</div>