<div class="rs-faq-part style1 orange-color pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 padding-0">
                <div class=" main-part">
                    <div class="title mb-40 md-mb-15">
                        <h2 class="text-part">Preguntas Frecuentes</h2>
                    </div>
                    <div class="faq-content">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item card">
                                <div class="accordion-header card-header" id="headingOne">
                                    <button class="accordion-button card-link" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        ¿Se puede pagar con tarjeta de crédito?
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body card-body">
                                        Si cuentas con una tarjeta Visa, Mastercard, Pacificard, American y Diners Club puedes pagar el costo del programa de acuerdo a las políticas de financiamiento, contempladas en la información general del programa.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item card">
                                <div class="accordion-header card-header" id="headingTwo">
                                    <button class="card-link accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        ¿Existen becas para los programas de maestría?
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body card-body">
                                            No se ha  contemplado  por parte las autoridades de la ULVR otorgar becas, debido al costo accesible del programa.
                                        </div>
                                </div>
                            </div>
                            <div class="accordion-item card">
                                <div class="accordion-header card-header" id="headingThree">
                                    <button class="card-link accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        ¿Cuáles son los requisitos de ingreso?
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body card-body">
                                        El ingreso a los programas de Posgrado, se sujeta al cumplimiento de las
                                        siguientes condiciones:<br />
                                        <br />
                                        - Acreditar un título académico de tercer nivel. Los estudiantes que hayan obtenido su título académico en el extranjero se sujetarán a las disposiciones pertinentes y a la normativa de la ULVR.<br />
                                        - Experiencia profesional acreditada de, al menos, tres años.<br />
                                        - Entrevista de admisión.<br />

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item card">
                                <div class="accordion-header card-header" id="headingFour">
                                    <button class="card-link accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                        ¿A quiénes están dirigidos los programas de maestría?
                                    </button>
                                </div>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body card-body">
                                        Los programas de maestría de la ULVR está abiertos a todos los profesionales, que acrediten un título académico de tercer nivel, en las áreas correspondientes a cada programa de estudios de posgrado vigente.
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-column col-lg-6 align-self-center">
                <div class="inner-column">
                    <!-- Video Box -->
                    <div class="intro-video media-icon orange-color1">
                        <img class="video-img" src="images/about/videoposg.JPG" alt="Video Image">
                        <a class="popup-videos" href="https://www.youtube.com/watch?v=Mtt4iB4cXz8">
                            <!-- <span class="d-inline-flex"></span> -->
                            <i class="fa fa-play mx-4 "></i>
                        </a>
                    </div>
                    <!-- End Video Box -->
              
                </div>
            </div>
        </div>
    </div>
</div>