<nav class="rs-menu">
    <ul class="nav-menu">
        <li class="menu-item-has-children">
            <a href="#">Universidad</a>

            <ul class="sub-menu">
                <li>
                    <a href="/mision_vision">Misión y Visión</a>
                </li>
                <li>
                    <a href="/autoridades_universitarias">Autoridades universitarias</a></li>
                <li>
                    <a href="#">Transparencia</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/transparencia_planificacion_institucional">Planificación institucional</a>
                        </li>
                        <li>
                            <a href="/transparencia_rendcion_cuentas">Rendición de cuentas</a>
                        </li>
                        <li>
                            <a href="/transparencia_concursos_m_o">Concursos de méritos y oposición</a>
                        </li>
                        <li>
                            <a href="/transparencia_legislaciones">Legislación vigente e histórica</a>
                        </li>
                        <li>
                            <a href="/transparencia_informacion_financiera">Información financiera</a>
                        </li>
                        <li>
                            <a href="/transparencia_resoluciones">Resoluciones del consejo universitario</a>
                        </li>
                        <li>
                            <a href="/transparencia_informacion_publica">Información pública</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#">Oferta Académica</a>
            <ul class="sub-menu">
                <li>
                    <a href="/grado">Grado</a>
                </li>
                <li>
                    <a href="/posgrado">Posgrado</a>
                </li>
                <li>
                    <a href="#">Admisiones</a>
                    <ul class="sub-menu">
                        <li><a href="/admisiones">Grado</a></li>
                        <li><a href="/posgradoAdmisiones"> Posgrado</a></li>
                        <li><a href="/reingreso">Reingreso</a></li>
                        <li><a href="/homologacion">Homologación</a></li>
                    </ul>
                </li>
                <!-- <li><a href="#">Unidad de Titulación</a></li> -->
            </ul>
        </li>

        <li class="menu-item-has-children">
            <a href="#">Investigación</a>
            <ul class="sub-menu">
                <li>
                    <a href="/investigacion_cientifica">Investigación Científica</a>
                </li>
                <li>
                    <a href="/espacio_innovacion">Espacio de innovación</a>
                </li>
                <li>
                    <a href="http://revistas.ulvr.edu.ec/index.php/yachana" target="_blank">YACHANA revista científica</a>
                </li>
                
            </ul>
        </li>

        <li class="menu-item-has-children">
            <a href="#">Vinculación</a>
            <ul class="sub-menu">
                <li>
                    <a href="/consultorio_juridico">Consultorio jurídico</a>
                </li>
                <li>
                    <a href="/vinculacion_sociedad">Vinculación con la sociedad</a>
                </li>
            </ul>
        </li>

        <li class="menu-item-has-children">
            <a href="#">Servicios</a>
            <ul class="sub-menu">
                <li>
                    <a href="#">Servicios en línea</a>
                    <ul class="sub-menu">
                        <li><a href="/servicios_online_solicitudes"> Solicitudes en línea</a></li>
                        <li><a href="/servicios_plataformas_institucionales"> Plataformas Institucionales</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios generales</a>
                    <ul class="sub-menu">
                        <li><a href="/bienestar_universitario"> Bienestar Universitario</a></li>
                        <li><a href="/unidad_salud"> Unidad de Salud</a></li>
                        <li><a href="/consultorio_juridico"> Consultorio Jurídico Gratuito</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Biblioteca</a>
                    <ul class="sub-menu">
                        <li><a href="/bibliotecas_virtuales"> Bibliotecas virtuales</a></li>
                        
                        <li class="menu-item-has-children">
                            <a href="/editorial_ulvr">Editorial ULVR</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Publicaciones</a>
                            <ul class="sub-menu">
                                <li><a href="/biblioteca_revistas">Revistas</a></li>
                                <li><a href="/biblioteca_boletines_pautas">Boletines y Pautas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/noticias">Noticias</a></li>
                </li>
                <!-- <li><a href="#">Directorio telefónico</a></li> -->
            </ul>
        </li>
        <li>
            <a href="/documentos/calendarios/Calendario Academico.pdf" target="_blank">Calendario Académico</a>
        </li>
    </ul>
</nav>