<div class="rs-newsletter style1 mt-40 mb--124 sm-mb-0 sm-pb-70">
    <div class="container">
        <div class="newsletter-wrap">
            <div class="row y-middle">
                <div class="col-md-6 sm-mb-30">
                    <div class="sec-title">
                        <div class="sub-title white-color">Oferta Académica</div>
                        <h2 class="title mb-0 white-color">
                            Inscríbete para más información  <br />
                        </h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="newsletter-form">
                        <input
                            type="email"
                            name="email"
                            placeholder="Escribe tu correo electrónico"
                            required=""
                        />
                        <button type="submit">Suscripción</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>