<div class="rs-services style1">
    <div class="row no-gutter">
        <div class="col-lg-3 col-md-6">
            <div class="service-item overly1">
                <img src="images/services/grado.png" alt="" />
                <div class="content-part">
                    <img src="images/services/icons/1.png" alt="" />
                    <h4 class="title mb-2"><a href="grado">GRADO</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item overly2">
                <img src="images/services/posgrados.jpg" alt="" />
                <div class="content-part">
                    <img src="images/services/icons/2.png" alt="" />
                    <h4 class="title mb-2">
                        <a href="posgrado">POSGRADO</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item overly1">
                <img src="images/services/investigacion.png" alt="" />
                <div class="content-part">
                    <img src="images/services/icons/3.png" alt="" />
                    <h4 class="title mb-2"><a href="investigacion_cientifica">INVESTIGACIÓN</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item overly2">
                <img src="images/services/servicios-online.png" alt="" />
                <div class="content-part">
                    <img src="images/services/icons/5.png" alt="" />
                    <h4 class="title mb-2"><a href="servicios_online_solicitudes">SERVICIOS ONLINE</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>