<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <a href="http://academico.ulvr.edu.ec/#/login"  class="img center-block"  target="_blank">
            <img class="d-block w-100" src="images/slider/slider-1.jpg" alt="First slide">
        </a>					
        </div>
        <div class="carousel-item">
        <a href="admisiones"  class="img center-block"  target="_blank">
            <img class="d-block w-100" src="images--/slider/slider-2.jpg" alt="Second slide">
        </a>
        </div>
        <div class="carousel-item">
        <a href="https://www.ulvr.edu.ec/comunicados/noticias/convocatoria-para-la-recepcion-de-propuestas-de-dossier-2023"  class="img center-block"  target="_blank">
            <img class="d-block w-100" src="images--/slider/slider-3.jpg" alt="Third slide">
        </a>					
        </div>
        <div class="carousel-item">
        <a href="#"  class="img center-block">
            <img class="d-block w-100" src="images--/slider/slider-4.jpg" alt="four slide">
        </a>
        </div>
        <div class="carousel-item">
            <a href="posgrado"  class="img center-block"  target="_blank">
                <img class="d-block w-100" src="images--/slider/maestria.png" alt="five slide">
            </a>					
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>