<div class="topbar-area">
    <div class="container">
        <div class="row y-middle">
            <div class="col-md-7">
                <ul class="topbar-contact">
                    <li>
                        <i class="flaticon-email"></i>
                        <a href="mailto:support@rstheme.com">info@ulvr.edu.ec</a>
                    </li>
                    <li>
                        <i class="flaticon-call"></i>
                        <a href="tel:+088589-8745">(+593) 4 259 6500 </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 text-end">
                <ul class="topbar-right">
                    <li class="btn-part">
                        <a class="apply-btn" href="/admision">Admisiones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>